# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/build
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.vercel

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# local env files
.env*.local

# typescript
*.tsbuildinfo

#misc
.DS_Store
Thumbs.db
*.pem


#log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
